@tailwind base;
@tailwind components;
@tailwind utilities;
.menu {
    @apply block px-3 py-2 rounded hover:bg-gray-800 transition;
}

.menu-title {
    @apply text-xs text-gray-400 mt-4 mb-1 px-2 uppercase tracking-wider;
}
